body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  word-break: keep-all;
  font-family: 'Noto Serif', serif;
}

* {
  --hitam: #1a1a1c;
  --putih: #fff;
  --biru: #20518e;
  --wowcolor: linear-gradient(120deg, #EAECC6 0%, #2BC0E4 100%);
  --wowcolor1: linear-gradient(150deg, #274059 0%, #4ca1af 100%);
  --wowcolor3: linear-gradient(to right, #274059 0%, rgba(175, 175, 175, 0) 100%);
  --wowcolor2: #fcfcfc;
}

html {
  scroll-behavior: smooth;
}

.box {
  width: 80%;
  margin: auto;
  padding: 0;
}

.box-01 {
  width: 80%;
  margin: auto;
  padding: 0;
}

.box-2 {
  width: 30%;
  padding: 0;
  float: right;
}

.box-4 {
  width: 68%;
  padding: 0;
  margin-bottom: 20px;
  float: left;
}

.box-6 {
  width: 63%;
  margin-top: 30px;
  padding: 0;
  float: right;
  height: 300px;
}

.box-7 {
  width: 35%;
  margin-top: 30px;
  padding: 0;
  height: 300px;
  float: left;
}

.box-8 {
  width: 63%;
  padding: 0;
  height: 300px;
  margin-top: 30px;
  float: left;
}

.box-9 {
  width: 35%;
  margin-top: 30px;
  padding: 0;
  height: 300px;
  float: right;
}

.box-10 {
  width: 25%;
  height: 150px;
  border-radius: 15px;
  background: var(--wowcolor);
  padding: 20px;
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  box-shadow: 0 0 15px #ccc;
}

.box-10 img {
  width: 40%;
  padding-top: 30px;
  border-radius: 10%;
}

.content0 {
  width: 100%;
  height: 800px;
  /* background: red; */
}

.content1 {
  width: 100%;
  height: 440px;
  /* background: red; */
}

.content4 {
  border-radius: 15px;
  background: var(--putih);
  padding: 40px;
  box-shadow: 0 0 15px #ccc;
  margin-top: 10px;
  margin-bottom: 50px;
}

.content4 img {
  width: 30%;
  align: center;
}

.content3 {
  width: 100%;
  height: 700px;
  /* background: red; */
}

.content2 {
  width: 100%;
  height: 1000px;
  /* background: red; */
}

.box-3 {
  width: 70%;
  margin: auto;
  padding: 0;
}

.box-03 {
  width: 70%;
  margin: auto;
  padding: 0;
}

.bg1 {
  background: url('../img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  margin-bottom: 60px;
}

.bg1 h2 {
  font-size: 27px;
}

.bg1 p {
  font-size: 17px;
}

 .menu a{
  text-decoration: none;
  color: #353535;
  display: block;
  transition: 0.3s;
  }

 .menu a:hover {
  color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.title {
    display: inline-block;
    float: left;
    line-height: 50px;
}

.menu {
    display: inline-block;
    float: right;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
  display: inline-block;
}

.menu ul li:hover{
  transition: 0.3s;
  background-color: var(--biru);
  color: white;
}

.menu ul li a {
  padding: 0 20px;
  display: block;
  line-height: 50px;
}

.wrap{
  width: 80%;
  margin: 0 auto;
}

.tblmenubox {
    display: inline-block;
    float: right;
    line-height: 50px;
}
.tblmenu {
    display: block;
    position: absolute;
/*     width: 25px;
    height: 25px; */
/*     background: var(--wowcolor); */
    /* border-radius: 50%; */
    top: 50%;
    transform: translateY(-50%);
}
.tblmenubox{
  display: none;
  visibility: hidden;
}
@media screen and (max-width:800px){
  .menu{display: none;}
  .tblmenubox{
    display: block;
    visibility: visible;
  }
  .menu.sh {
    display: block;
    position: absolute;
    top: 50px;
    background: var(--wowcolor);
    width: 100%;
    left: 0;
}

.menu a:hover {
    color: #fff;
    background: #353535;
}

.menu ul li {
    display: block;
    text-align: center;
}
}


.img {
  width: 30%;
  padding: 10px;
  margin-top: 170px;
  float: left;
}

.img img {
  width: 90%;
  box-shadow: 0 0 15px #858585;
  border-radius: 50%;
}

.card {
  float: left;
  width: 60%;
  border-radius: 15px;
  background: var(--wowcolor3);
  padding: 30px;
  margin-top: 170px;
  color: white;
}

.input {
  background: var(--biru);
  border: 1.3px solid #254061;
  padding: 10px;
  color: var(--putih);
  margin-top: 10px;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  border: 1.3px solid var(--putih);
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  text-decoration: none;
}

.input:hover {
  background: var(--putih);
  border: 1.3px solid var(--putih);
  color: var(--hitam);
  transition: background 0.3s ease-in-out;
}

p {
  font-size: 16px;
  letter-spacing: 1.2px;
}

.mytitle h3 {
  text-transform: capitalize;
  border-bottom: 3px solid var(--biru);
  width: 70%;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mytitle h5 {
  text-transform: capitalize;
  border-bottom: 3px solid var(--biru);
  margin-top: 0px;
  width: 70%;
  font-size: 25px;
  margin-bottom: 30px;
}

.card2 {
  border-radius: 15px;
  background: var(--wowcolor);
  box-shadow: 0 0 15px #ccc;
}

.card2 img {
  width: 100%;
  border-radius: 15px;
}

.inside {
  padding: 40px;
}

.mytitle2 {
  background: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.mytitle2 h3 {
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--putih);
  text-align: center;
  padding: 80px;
  text-transform: capitalize;
}

.card3 {
  border-radius: 15px;
  background: var(--wowcolor2);
  padding: 40px;
  box-shadow: 0 0 15px #ccc;
}

.card4 {
  width: 100%;
  border-radius: 15px;
  background: var(--wowcolor2);
  box-shadow: 0 0 15px #ccc;
}

.card4 iframe {
  border-radius: 15px;
  width: 100%;
}

.card04 {
  width: 100%;
  border-radius: 15px;
  background: var(--wowcolor2);
  box-shadow: 0 0 15px #ccc;
}

.card04 iframe {
  border-radius: 15px;
  width: 100%;
}

.content5 ul {
  margin: 0;
  padding: 100px 0 100px 0;
}

.content5 ul li {
  display: inline-block;
  padding-left: 20px;
}

.content5 ul li img {
  width: 100%;
}

.box-footer {
  width: 80%;
  margin: auto;
  padding: 0;
}

footer {
  margin-top: 60px;
  width: 100%;
  padding: 40px;
  background: #e2e2e2;
}

/* this is responsive */
/* @media only screen and (max-width: 480px) {

} */

@media only screen and (max-width: 700px) {
    .box-03{
      width: 90%;
    }
    .img{
      margin-top: 80px;
      width: 60%;
      padding-left: 90px;
    }
    .card{
      margin-top: 20px;
      padding-left: 80px;
    }
    .bg1{
      height: 750px;
      margin-bottom: 0;
    }
    .card p{
      font-size: 13px;
    }
    p{
      font-size: 13px;
    }
    .content1{
      height: 830px;
    }
    .mytitle2 {
      height: 130px;
    }
    .mytitle2 h3{
      padding: 40px;
    }
    .mytitle h3{
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 20px;
    }
    .mytitle h5{
      width: 80%;
      font-size: 18px;
    }
    .box-2{
      width: 100%;
    }
    .box-4{
      margin-top: 16px;
      width: 100%;
    }
    .box-7{
      height: 250px;
      width: 100%;
    }
    .box-6{
      width: 100%;
    }
    .box-8{
      height: 200px;
      width: 100%;
      margin-bottom: 80px;
    }
    .box-9{
      width: 100%;
      height: 250px;
    }
    .box-01{
      width: 95%;
    }
    .box-10{
      width: 36%;
      height: 90px;
      margin-left: 15px;
    }
    .box-10 img{
      padding-top: 20px;
    }
    .content2{
      height: 1850px;
    }
    .content3 {
    height: 770px;
    }
    .content4 {
        width: 100%;
        margin-left: -30px;
        padding: 30px;
    }
    .content4 img {
        width: 70%;
    }
    .box-footer{
      width: 70%;
    }
    footer{
      padding: 10px;
      margin-left: -10px;
    }
    footer p{
      text-align: center;
    }
    .card3{
      margin-top: -20px;
    }
}

@media only screen and (max-width: 360px) {
  .img{
    padding-left: 75px !important;
  }

.content2{
  height: 1900px;
}
.box-8{
  margin-top: 40px !important;
  margin-bottom: 130px !important;
}
  .box-10{
    width: 33% !important;
    height: 80px !important;
  }
.card04{
  margin-bottom: 50px !important;
}

}
